[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-heroku = "*"
email-validator = "*"
validate-email = "*"
python-dotenv = "*"
certifi = "*"
pip-system-certs = "*"
six = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
