{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5 shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center py-3">Please enter your email to get reset link.</h5>
                
                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="form-group mb-3">
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email"
                            id="emailField" 
                            class="form-control form-control-sm" 
                            value="{{values.email}}"
                        />
                    </div>

                    <input 
                        type="submit" 
                        value="Submit"
                        class="btn btn-primary w-100 submitBtn mb-3" 
                    />
                </form>

                <div class="text-center mt-3">
                    <p class="mb-1">
                        Already have an account?
                        <a href="{% url 'login' %}">Login</a>
                    </p>
                    <p>
                        <a href="{% url 'register' %}">Don't have an account?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}