{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card mt-5 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-center py-3">Set your new password</h5>

        <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}

          <div class="form-group mb-3 position-relative">
            <input 
              type="password" 
              name="password" 
              placeholder="New Password"
              id="newPasswordField" 
              class="form-control form-control-sm"
              required
            />
            <small class="float-end py-2 text-muted showPasswordToggle" style="cursor: pointer;">
              SHOW
            </small>
          </div>

          <div class="form-group mb-4 position-relative">
            <input 
              type="password" 
              name="password2" 
              placeholder="Confirm New Password"
              id="confirmPasswordField" 
              class="form-control form-control-sm"
              required
            />
          </div>

          <input 
            type="submit" 
            value="Submit"
            class="btn btn-primary w-100 submitBtn mb-2" 
          />
        </form>

        <div class="text-center mt-3">
          <p class="mb-1">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
          </p>
          <p>
            Don't have an account?
            <a href="{% url 'register' %}">Register</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<meta name="csrf-token" content="{{ csrf_token }}">
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}